body {
   background-image: url(/assets/img/fon.jpg);
   background-size: cover;
}
.container {
   max-width: 1200px;
   margin: 0 auto;
 }
.list_item{
}

 .about-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid black;
 }
 .title{
   font-size: 30px;
   text-align: center;
   font-family: 'Lora', serif;
 }

 .name-info{
   font-size: 20px;
 }
 .career-info{
   font-size: 13px;
 }
 li{

 }
 p, a{
   font-family: 'Lora', serif;
 }